@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@theme {
  --font-serif: 'Onest', sans-serif;
}

html {
  @apply font-serif;
}

/* Utility: clamp text to 2 lines */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.btn {
  @apply cursor-pointer inline-flex w-full justify-center items-center gap-2 rounded-lg px-3 py-1.5 shadow-xs sm:w-auto;

  &.btn-primary { @apply bg-sky-400 text-white hover:bg-sky-500 }
  &.btn-success { @apply bg-emerald-400 text-white hover:bg-emerald-500 }
  &.btn-danger { @apply bg-red-400 text-white hover:bg-red-500 }
}

.menu-item {
  @apply bg-gray-200 rounded-md w-full px-2 py-1.5 hover:bg-gray-300 focus:bg-gray-300;

  &.red { @apply bg-red-200 text-red-900 hover:bg-red-300 }
  &.amber { @apply bg-amber-200 text-amber-900 hover:bg-amber-300 }
  &.emerald { @apply bg-emerald-200 text-emerald-900 hover:bg-emerald-300 }
  &.sky { @apply bg-sky-200 text-sky-900 hover:bg-sky-300 }
  &.purple { @apply bg-purple-200 text-purple-900 hover:bg-purple-300 }
  &.slate { @apply bg-slate-200 text-slate-900 hover:bg-slate-300 }

  &.active { @apply ring-2 ring-gray-600 }

  &.active.red { @apply ring-red-600 }
  &.active.amber { @apply ring-amber-600 }
  &.active.emerald { @apply ring-emerald-600 }
  &.active.sky { @apply ring-sky-600 }
  &.active.purple { @apply ring-purple-600 }
  &.active.slate { @apply ring-slate-600 }
}

.badge {
  @apply inline-flex w-full justify-center items-center gap-2 rounded-lg px-2 py-1 text-sm font-bold text-xs shadow-xs sm:w-auto;

  &.low { @apply bg-emerald-700 text-white; }
  &.medium { @apply bg-amber-700 text-white; }
  &.high { @apply bg-red-700 text-white; }
  &.urgent { @apply bg-slate-700 text-white; }
}

.color-select {
  @apply size-8 appearance-none rounded-full forced-color-adjust-none checked:outline-2 checked:outline-offset-2 focus-visible:outline-3 focus-visible:outline-offset-3;
  &.red { @apply bg-red-500 checked:outline-red-500 }
  &.amber { @apply bg-amber-500 checked:outline-amber-500 }
  &.emerald { @apply bg-emerald-500 checked:outline-emerald-500 }
  &.sky { @apply bg-sky-500 checked:outline-sky-500 }
  &.purple { @apply bg-purple-500 checked:outline-purple-500 }
  &.slate { @apply bg-slate-500 checked:outline-slate-500 }
}